*{
    margin:0;
    padding:0;
}
.nav, .awesome{
    background-color: #1F2937;
    color:#f9faf8;
    font-family: 'Roboto', sans-serif;
    
}
ul{
    list-style-type: none;
    text-align: center;
    display:flex;
    justify-content: space-around;
    margin:0;
    padding: 8px;
    
   
}
a{
    text-decoration: none;
    color:aliceblue;
    font-weight:bold;
    
    
}
.flex{
    display:flex;
    justify-content: flex-end;
    gap: 28px;
}
.awesome{
    display:flex;
    align-items: center;
    justify-content: space-around;
    gap:30px;
    padding:20px;
}
.this-text{
    max-width: 50%;
}
.awesome button{
    
    background-color: rgb(63, 147, 226);
    border-radius:8px;
    margin-bottom: 15px;
    
    
}
.image1 img{
    height:350px;
    width:550px;
    border-radius: 8px;
    
}
h2{
    text-align: center;
}


.flex-images{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
    gap:18px;
    margin:30px;
 
}
.flex-images img{
    border-radius: 28px;
    height:250px;
    width:250px;
}
.description{
    width:300px;
    text-align: center;

}
.quote{
    display:block;
    background-color: rgb(198, 206, 206);
    text-align: center;
    padding:60px;
    margin:auto 0;
}
.join{
    display:flex;
    justify-content: space-around;
    color:white;
    background-color: blue;
    margin:50px;
    padding:20px;
    border-radius: 25px;

    
    
}
.join button{
    height:30px;
    width:80px;
    padding:10px;
    border-radius:8px;
    border-color: aliceblue;
    background-color: blue;
    color: azure;
    align-self: center;
    
    
    
}
.join p{
    max-width:50%;
}
.footer{
    color: white;
    background-color:#1f2937;
    text-align: center;
    padding: 20px;
}
